@import '~antd/dist/antd.css';

fieldset {
    background: #eee;
}
fieldset legend {
    font-weight: bold;
    color: #444;
    padding: 5px 10px;
    -webkit-border-radius: 2px;
    border: 1px solid #aaa;
    background-color: #fff;
    max-width: 100%;
    box-shadow: 3px 3px 15px #bbb;
    width: initial;
    font-size: 1rem;
}

div.container {
    margin:0 auto;
    margin-top: 100px;
    width: 30em;
    text-align: left;
    margin-bottom: 0 auto;
}
label {
    width: 10em;
    font-weight: bolder;
    display: inline-block;
}
input[type=text], input[type=password] {
    box-sizing: border-box;
    width: 14em;
}
.qrcode {
    text-align: center;
}
.qrcode label{
    width: 100%;
}
.center {
    text-align: center;
    width: 100%;
}
.item {
    width: 280px;
    margin: 12px auto;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}