NAMESPACE=java-sql-web
TAG=v2.1.1
JSW_SERVER_IMAGE=ghcr.io/guohai163/java-sql-web-server
JSW_FRONT_IMAGE=ghcr.io/guohai163/java-sql-web-front
DB_NAME=javasqlweb_db
DB_USERNAME=root
DB_PASSWORD=my-secret-pw
PROJECT_LIMIT=20000
PROJECT_SIGNKEY=jsw
PUBLIC_DOMAIN=jsw.example.com
PUBLIC_HOST=https://jsw.example.com
INGRESS_HOST=jsw.example.com
DB_STORAGE_SIZE=20Gi
DB_STORAGE_CLASS=
PROJECT_LEGACY_TLS_ENABLED=false
JAVA_TOOL_OPTIONS=
